@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.container {
    left: 0;
    right: 0;
    top: 20%;
    transform: translate(0, 20%);
    /* top: 50%;
    transform: translate(0, 50%); */
    margin: 0 20px;
    display: flex;
    height: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.856);
}
#leftBlock {
    width: 50%;
    background: linear-gradient(-45deg, rgba(0, 53, 0, 0.829) 10%, green 40%);
}
#rightBlock {
    width: 50%;
    background-color: #ffffff;
}
.h1 {
    background-color: #F8F8F8;
    text-align: center;
    height: 136px;
    position: relative;
}
.h1 h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 0 15%;
}
.form {
    margin: 52px 15% 0 15%;
}
#urName {
    width: 100%;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
}
.flex {
    display: flex;
}
.flex div:first-child {
    width: 80%;
}
.flex div:last-child {
    width: 20%;
    margin-left: 20px;
}
#urNumber {
    width: 100%;
    height: 50px;
    padding: 0;
    border: 1px solid gray;   
    border-radius: 5px;
    outline: none;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
}
#urCountry {
    width: 100%;
    height: 50px;
    padding: 0;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    padding: 0 0 0 34px;
    font-size: 15px;
    font-weight: 600;
    box-sizing: border-box;
    border-collapse: collapse;
    cursor: pointer;
}
select {
    background: url(../Form/img/Flag.png) no-repeat;
    background-position: 10px 50%;
}
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
/* for Chrome */
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
/* for FireFox */
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
/* for another */
}
input:focus {
    background-color: rgb(233, 232, 232);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.486);
}
span {
    color: green;
}
label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}
.label {
    padding-bottom: 10px;
}
.bottom {
    width: 100%;
    padding-top: 20px;
}
.button {
    width: 100%;
    padding-top: 38px;
    padding-bottom: 28px;
}
.button button {
    height: 42px;
    width: 100%;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 17px;
    font-weight: 500;
}
.button button:hover {
    background-color: rgb(2, 110, 2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.486);
}
.button img {
    width: 15px;
    height: 10px;
    padding-left: 10px;
}
.words {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.words div:first-child {
    padding: 40px 0 0 40px;
}
.words div:last-child {
    padding: 0 0 40px 40px;
    text-transform: uppercase;
}
.circle {
    width: 398px;
    height: 398px;
    background-color: rgb(1, 90, 1);
    border-radius: 50%;
    transform: translate(20px, -429px);
}
.circle img {
    width: 465px;
    height: 255px;
    padding-top: 141px;
    padding-left: 37px;
}
h3 {
    margin: 0;
}
.trus {
    display: flex;
    justify-content: space-between;
    width: 160px;
    margin: 0 auto;
    height: 125px;
    padding-bottom: 27px;
    align-items: flex-end;
    display: none;
}
@media screen and (max-width: 1244px) {
.container {
    margin: 0 20px;
    display: block;
    width: 320px;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.514);
}
#leftBlock {
    width: 100%;
    height: 320px;
    background: white;
}
.h1 {
    background-color: #F8F8F8;
    text-align: center;
    width: 320px;
    height: 78px;
    position: relative;
}
.h1 h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 0 15px;
}
.form {
    margin-top: 52px;
}
.words {
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
}
.words div:first-child {
    padding: 0;
}
.words div:last-child {
    padding: 0;
    text-transform: uppercase;
}
.circle img {
    width: 223px;
    height: 122px;
    padding: 48px 18px 32px 3px;
}
.circle {
    width: 202px;
    height: 202px;
    background-color: rgb(1, 90, 1);
    border-radius: 50%;
    transform: translate(50.5px, -239px);
}
.trus {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 23px;
    margin-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}
.trus div {
    padding: 0 15px;
}
.button {
    padding-bottom: 0;
}
.form {
    margin: 52px 15px;
}
#rightBlock {
    width: 100%;
    background-color: #ffffff;
}
}